<tr>
        <td class="contentMainFirst" width="19%">[l_kat]</td>
        <td class="contentMainTop" width="81%"><a href="../event/?action=list&amp;kat=[kat_id]">[kat]</a></td>
      </tr>
      <tr>
        <td class="contentMainFirst" width="19%">[l_name]</td>
        <td class="contentMainTop" width="81%">[name]</td>
      </tr>
      <tr>
        <td class="contentMainFirst" width="19%">[l_autor]</td>
        <td class="contentMainTop" width="81%">[autor]</td>
      </tr>
      <tr>
        <td class="contentMainFirst" width="19%">[l_start]</td>
        <td class="contentMainTop" width="81%">[start]</td>
      </tr>
      <tr>
        <td class="contentMainFirst" width="19%">[l_ende]</td>
        <td class="contentMainTop" width="81%">[ende]</td>
      </tr>
      <tr>
        <td class="contentMainFirst" width="19%">[l_ort]</td>
        <td class="contentMainTop" width="81%">[ort]</td>
      </tr>
[edit]