<tr>
  <td class="contentHead" colspan="4" align="center"><span class="fontBold">[head]</span></td>
</tr>
<tr>
  <td class="contentMainTop" width="120"><span class="fontBold">[date]</span></td>
  <td class="contentMainTop" width="120"><span class="fontBold">[date2]</span></td>
    <td class="contentMainTop" colspan="0"><span class="fontBold">[kat]</span></td>
  <td class="contentMainTop" colspan="0"><span class="fontBold">[titel]</span></td>
</tr>
[show]
<tr>
  <td class="contentBottom" colspan="4">
    [foot]
  </td>
</tr>
