<tr>
  <td class="contentMainFirst" colspan="5" align="center" >
  	<span class="fontBold">[zusagen_h]:</span>
  </td>
</tr>
<tr>
  <td colspan="5" align="center" >
[zusagen]
  </td>
</tr>
<tr>
  <td class="contentMainFirst" colspan="5" align="center" >
  	<span class="fontBold">[absagen_h]:</span>
  </td>
</tr>
<tr>
  <td colspan="5" align="center" >
[absagen]
  </td>
</tr>
<tr>
  <td class="contentMainFirst" colspan="5" align="center" >
  	<span class="fontBold">[unsicher_h]:</span>
  </td>
</tr>
<tr>
  <td colspan="5" align="center" >
[unsicher]
  </td>
</tr>
[formular]
